<div class="main">
    <h3>Word Blitz</h3>
    <div class="grille">
        <div><span>A</span></div>
        <div><span>B</span></div>
        <div><span>C</span></div>
        <div><span>D</span></div>
        <div><span>E</span></div>
        <div><span>A</span></div>
        <div><span>R</span></div>
        <div><span>B</span></div>
        <div><span>I</span></div>
        <div><span>J</span></div>
        <div><span>K</span></div>
        <div><span>R</span></div>
        <div><span>M</span></div>
        <div><span>N</span></div>
        <div><span>O</span></div>
        <div><span>E</span></div>
    </div>
    <h3 id="saisie"></h3>
</div>
