.container-master {
    padding: 0 30px 70px 30px;
    margin-top: 20%;
    background-color: white;
}
a{
    color: rgba(0,0,0,0.54);
    font-weight: bold;
}
.topbar{
    position: fixed;
    top:0px;
    width: 100%;
    height: 6%;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
}
.selected #contour {
    stroke: #FF647C;
}
.topbar > p {
        font-size: 16px;
        font-weight: bold;
        margin-top: 3%;
        margin-bottom: 0;
}
.plus-selected{
    display: block;
    -webkit-animation: slide-in-blurred-bottom 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-bottom 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    position: fixed;
    right: 0px;
    text-align: center;
    width:22.5%;
    border-radius: 7px;
    position: fixed;
    bottom: 60px;
}
.plus-initial{
    display: none;
}
.plus-notselected{
    -webkit-animation: slide-out-blurred-bottom 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    animation: slide-out-blurred-bottom 0.3s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
    position: fixed;
    right: 0px;
    text-align: center;
    width:22.5%;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.button-plus{
    width: auto;
    font-size: 11px;
    height: 60px;
}
.item-plus{
    /* margin-top: 30px; */
    background-color: white;
    text-align: center;
    width:70px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 5px;
}
.icon-plus{
    font-size: 30px;
    margin-top: 8px !important;
}
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*box-shadow: 0 -5px 5px -5px #333; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
	background-color: white;
	z-index: 15;
}
a {
    display: inline-grid;
    color: #565656;
    width:22.5%;
}
.plus {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  outline: 0;
}
.plus-active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
 }

.profil {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}
.label {
    display: flex;
}
.selected {
    color: #FF647C;
}
.material-icons {
    margin-top: 6%;
}
.whiteblock {
    box-shadow: 0 0 10px #dcdde0;
    background-color: white;
}
.main-footer{     
    position: fixed;
    width: 100%;
    bottom: 0;
}
.verticalalignicon i{
    margin-top: 25%;
}
.verticalalignicon > a > p {
    font-size: 10px;
    margin: 0;
}
@media only screen and (max-width: 760px)
{
}
@-webkit-keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-bottom {
    0% {
      -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-out-blurred-bottom {
    0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
              transform: translateY(1000px) scaleY(2) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }
  @keyframes slide-out-blurred-bottom {
    0% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px) scaleY(2) scaleX(0.2);
              transform: translateY(1000px) scaleY(2) scaleX(0.2);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
  }
