<header>
    <div class="navbar-fixed">
        <nav class="noBoxShadow">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <span class="brand-logo center">{{titre_page}}</span>
            </div>
        </nav>
    </div>
    <!-- sidenav sur mobile -->
    <ul id="slide-out" class="sidenav swipToTheRight">
        <li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
        <li><a href="/jeux"><i class="material-icons">videogame_asset</i>Jeux</a></li>
        <li><a href="/cours"><i class="material-icons">school</i>Cours</a></li>
        <li><a href="/bibliotheque"><i class="material-icons">menu_book</i>Bibliothèque</a></li>
        <li><a href="/conseil"><i class="material-icons">supervisor_account</i>Conseils</a></li>
        <li><a href="/profil"><i class="material-icons">account_circle</i>Profil</a></li>
        <li><a href="/ortophoniste"><i class="material-icons">work_outline</i>Orthophoniste</a></li>
    </ul>
</header>

<main>
    <!-- sidenav sur web -->
    <ul class="sidenav sidenav-fixed" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
        <li><a href="/jeux"><i class="material-icons">videogame_asset</i>Jeux</a></li>
        <li><a href="/cours"><i class="material-icons">school</i>Cours</a></li>
        <li><a href="/bibliotheque"><i class="material-icons">menu_book</i>Bibliothèque</a></li>
        <li><a href="/conseil"><i class="material-icons">supervisor_account</i>Conseils</a></li>
        <li><a href="/profil"><i class="material-icons">account_circle</i>Profil</a></li>
        <li><a href="/ortophoniste"><i class="material-icons">work_outline</i>Orthophoniste</a></li>
    </ul>
    <div class="row container-master">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>

</footer>