a{
    color: rgba(0,0,0,0.54);
}
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    /*box-shadow: 0 -5px 5px -5px #333; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 7%;
    text-align: center;
    background-color: white;
}
a {
    display: inline-grid;
    color: #565656;
    font-family: 'Nunito';
    width:22.5%;
}
.plus {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  outline: 0;
}
.plus:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
 }

.profil {
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
}
.label {
    display: flex;
}
.selected {
    color: #FF647C;
}
.material-icons {
    margin-top: 6%;
}
.whiteblock {
    box-shadow: 0 0 10px #dcdde0;
    background-color: white;
}
.main-footer{     
    position: fixed;
    width: 100%;
    bottom: 0;
}
.verticalalignicon i{
    margin-top: 25%;
}
.verticalalignicon > a > p {
    font-size: 10px;
    margin: 0;
}
@media only screen and (max-width: 760px)
{
}