<!-- Version Mobile -->

<div *ngIf="isMobile">
	<div class="topbar">
		<h1>{{titre_page}}</h1>
	</div>

	<div class="navbar">
		<a routerLink="accueil" routerLinkActive="selected"><i class="material-icons">home</i>Accueil</a>
		<a routerLink="jeux" routerLinkActive="selected" style="margin-right: 10%"><i
				class="material-icons">videogame_asset</i>Jeux</a>

		<a routerLink="profil" class="profil" routerLinkActive="selected">
			<svg class="profil" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51"
				height="51" viewBox="0 0 51 51">
				<defs>
					<pattern id="pattern" preserveAspectRatio="xMidYMid slice" width="100%" height="100%"
						viewBox="0 0 525 350">
						<image width="525" height="350" xlink:href="../assets/mobile/tabbar-profil-image.jpg" />
					</pattern>
				</defs>
				<g id="Ellipse_2" data-name="Ellipse 2" transform="translate(2 2)" stroke="#565656" stroke-width="2"
					fill="url(#pattern)">
					<circle cx="23.5" cy="23.5" r="23.5" stroke="none" />
					<circle id="contour" cx="23.5" cy="23.5" r="24.5" fill="none" />
				</g>
			</svg></a>
		<a routerLink="ortophoniste" routerLinkActive="selected"><i
				class="material-icons">work_outline</i>Orthophoniste</a>
		<a class="btn-plus" (click)="togglePlus()" (clickOutside)="untogglePlus()"><i class="material-icons plus"
				[class.plus-active]="isPlusSelected">more_horiz</i>Plus</a>
		<div [className]="currentPlusClass">
			<div class="item-plus" style="bottom: 60px">
				<a routerLink="cours" routerLinkActive="selected" class="button-plus"><i
						class="material-icons icon-plus">school</i>Cours</a>
			</div>
			<div class="item-plus" style="bottom: 130px">
				<a routerLink="bibliotheque" routerLinkActive="selected" class="button-plus"><i
						class="material-icons icon-plus">menu_book</i>Bibliothèque</a>
			</div>
			<div class="item-plus" style="bottom: 200px">
				<a routerLink="conseil" routerLinkActive="selected" class="button-plus"><i
						class="material-icons icon-plus">supervisor_account</i>Conseils</a>
			</div>
		</div>
	</div>
	<div class="row container-master">
		<router-outlet></router-outlet>
	</div>
</div>

<!-- Version PC -->
<div *ngIf="!isMobile">
	<header>
		<div class="navbar-fixed">
			<nav class="noBoxShadow">
				<div class="nav-wrapper">
					<span class="brand-logo center">{{titre_page}}</span>
				</div>
			</nav>
		</div>
	</header>

	<main>
		<ul class="sidenav sidenav-fixed" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
			<li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
			<li><a href="/jeux"><i class="material-icons">videogame_asset</i>Jeux</a></li>
			<li><a href="/cours"><i class="material-icons">school</i>Cours</a></li>
			<li><a href="/bibliotheque"><i class="material-icons">menu_book</i>Bibliothèque</a></li>
			<li><a href="/conseil"><i class="material-icons">supervisor_account</i>Conseils</a></li>
			<li><a href="/profil"><i class="material-icons">account_circle</i>Profil</a></li>
			<li><a href="/ortophoniste"><i class="material-icons">work_outline</i>Orthophoniste</a></li>
		</ul>
		<div class="row container-master">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>