<!-- Version Mobile -->
<div *ngIf="responsiveService.isMobile">
    <div>
        <div class="tabs">
            <button class="button bg-rose" (click)="switchTab('all')" id="all">
                <span>Tips</span>
            </button>
            <button class="button rose" (click)="switchTab('liked')" id="liked" [disabled]="!userService.isConnected()">
                <span>Favoris</span>
            </button>
            <button class="button rose" (click)="switchTab('mine')" id="mine" [disabled]="!userService.isConnected()">
                <span>Mes tips</span>
            </button>
        </div>
        <div class="tip" *ngFor="let tip of tipsList" [ngClass]="getBackgroundColor(tip)">
            <img id="profil_img"
                src="{{tip.owner?.profilePicture ? tip.owner.profilePicture : '../assets/heidy/heidy_head_1.png'}}">

            <div class="content">
                <div style="margin-bottom: 10px;">
                    {{tip.content}}
                </div>
                <div class="username">
                    <b>{{tip.owner?.firstname}}</b>
                </div>
            </div>
            <div class="like" *ngIf="!isMyTip(tip)">
                <i class="material-icons like-icon" (click)="like(tip)">{{isLiked(tip) ? 'favorite' :
                    'favorite_border'}}</i>
                {{tip.nbLikes}}
            </div>
            <div class="like" *ngIf="isMyTip(tip)">
                <ion-icon name="close-outline" class="like-icon" (click)="delete(tip)"></ion-icon>
                {{tip.nbLikes}}
            </div>
        </div>
        <button id="add-tip" (click)="toggleTipTab()">
            <ion-icon class="rose" name="add-circle-outline"></ion-icon>
        </button>
        <div *ngIf="addTipTab" id="greyFilter" (click)="toggleTipTab()"></div>

        <div id="add-tip-tab">
            <button id="close" (click)="toggleTipTab()">
                <ion-icon name="close-outline"></ion-icon>
            </button>
            <form style="height: 100%;" action="" mode="ios" [formGroup]="tipForm" (ngSubmit)="sendTip()">
                <div class="tabs tips-tab">
                    <a class="button rose" (click)="toggleTag('orthographe', 'rose')" id="orthographe">
                        <span>Orthographe</span>
                    </a>
                    <a class="button jaune" (click)="toggleTag('grammaire', 'jaune')" id="grammaire">
                        <span>Grammaire</span>
                    </a>
                    <a class="button vert" (click)="toggleTag('conjugaison', 'vert')" id="conjugaison">
                        <span>Conjugaison</span>
                    </a>
                    <a class="button bleu" (click)="toggleTag('vocabulaire', 'bleu')" id="vocabulaire">
                        <span>Vocabulaire</span>
                    </a>
                </div>
                <div class="block">
                    <textarea placeholder="Entrez votre conseil... (250 carac. max)" class="validate"
                        formControlName="content" maxlength="250"></textarea>
                </div>
                <button class="button bg-rose large submit" type="submit" [ngClass]="{'loading' : isLoading}"
                    [disabled]="!tipForm.valid">
                    <div class="lds-ellipsis" style="display: none;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span>Ajouter</span>
                    <i class="material-icons" style="transform: rotate(180deg);">tungsten</i>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Version PC -->
<div *ngIf="!responsiveService.isMobile">
    <div>
        <div class="tabs nav-tabs">
            <button class="button bg-rose" (click)="switchTab('all')" id="all">
                <span>Tips</span>
            </button>
            <button class="button rose" (click)="switchTab('liked')" id="liked" [disabled]="!userService.isConnected()">
                <span>Favoris</span>
            </button>
            <button class="button rose" (click)="switchTab('mine')" id="mine" [disabled]="!userService.isConnected()">
                <span>Mes tips</span>
            </button>
        </div>
        <div class="tip" *ngFor="let tip of tipsList" [ngClass]="getBackgroundColor(tip)">
            <img id="profil_img"
                src="{{tip.owner?.profilePicture ? tip.owner.profilePicture : '../assets/heidy/heidy_head_1.png'}}">

            <div class="content">
                <div style="margin-bottom: 10px;">
                    {{tip.content}}
                </div>
                <div class="username">
                    <b>{{tip.owner?.firstname}}</b>
                </div>
            </div>
            <div class="like" *ngIf="!isMyTip(tip)">
                <i class="material-icons like-icon" (click)="like(tip)">{{isLiked(tip) ? 'favorite' :
                    'favorite_border'}}</i>
                {{tip.nbLikes}}
            </div>
            <div class="like" *ngIf="isMyTip(tip)">
                <ion-icon name="close-outline" class="like-icon" (click)="delete(tip)"></ion-icon>
                {{tip.nbLikes}}
            </div>
        </div>
        <button id="add-tip" (click)="toggleTipTab()">
            <ion-icon class="rose" name="add-circle-outline"></ion-icon>
        </button>
        <div *ngIf="addTipTab" id="greyFilter" (click)="toggleTipTab()"></div>

        <div id="add-tip-tab">
            <button id="close" (click)="toggleTipTab()">
                <ion-icon name="close-outline"></ion-icon>
            </button>
            <form style="height: 100%;" action="" mode="ios" [formGroup]="tipForm" (ngSubmit)="sendTip()">
                <div class="tabs tips-tab">
                    <a class="button rose" (click)="toggleTag('orthographe', 'rose')" id="orthographe">
                        <span>Orthographe</span>
                    </a>
                    <a class="button jaune" (click)="toggleTag('grammaire', 'jaune')" id="grammaire">
                        <span>Grammaire</span>
                    </a>
                    <a class="button vert" (click)="toggleTag('conjugaison', 'vert')" id="conjugaison">
                        <span>Conjugaison</span>
                    </a>
                    <a class="button bleu" (click)="toggleTag('vocabulaire', 'bleu')" id="vocabulaire">
                        <span>Vocabulaire</span>
                    </a>
                </div>
                <div class="block">
                    <textarea placeholder="Entrez votre conseil... (250 carac. max)" class="validate"
                        formControlName="content" maxlength="250"></textarea>
                </div>
                <button class="button bg-rose large submit" type="submit" [ngClass]="{'loading' : isLoading}"
                    [disabled]="!tipForm.valid">
                    <div class="lds-ellipsis" style="display: none;">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <span>Ajouter</span>
                    <i class="material-icons" style="transform: rotate(180deg);">tungsten</i>
                </button>
            </form>
        </div>
    </div>
</div>
