<div *ngIf="userService.isConnected()">
    <div class="tabs">
        <a class="button bg-rose" (click)="switchTab('all')" id="all">
            <span>Tips</span>
        </a>
        <a class="button rose" (click)="switchTab('liked')" id="liked">
            <span>Favoris</span>
        </a>
        <a class="button rose" (click)="switchTab('mine')" id="mine">
            <span>Mes tips</span>
        </a>
    </div>
    <div class="tip" *ngFor="let tip of tipsList">
        <img id="profil_img"
            src="{{tip.owner.profilePicture ? tip.owner.profilePicture : '../assets/heidy/heidy_head_1.png'}}">

        <div class="content">
            <div style="margin-bottom: 10px;">
                {{tip.content}}
            </div>
            <div class="username">
                <b>{{tip.owner.firstname}}</b>
            </div>
        </div>
        <div class="like" *ngIf="!isMyTip(tip)">
            <i class="material-icons like-icon" (click)="like(tip)">{{isLiked(tip) ? 'favorite' :
                'favorite_border'}}</i>
            {{tip.nbLikes}}
        </div>
        <div class="like" *ngIf="isMyTip(tip)">
            <ion-icon name="close-outline" class="like-icon" (click)="delete(tip)"></ion-icon>
            {{tip.nbLikes}}
        </div>
    </div>
    <button id="add-tip" (click)="toggleTipTab()">
        <ion-icon class="rose" name="add-circle-outline"></ion-icon>
    </button>
    <div *ngIf="addTipTab" id="greyFilter" (click)="toggleTipTab()"></div>

    <div id="add-tip-tab">
        <button id="close" (click)="toggleTipTab()">
            <ion-icon name="close-outline"></ion-icon>
        </button>
    </div>
</div>