<div *ngIf="userService.isConnected()">
    <div class="tabs">
        <a class="button bg-rose">
            <span>Tips</span>
        </a>
        <a class="button rose">
            <span>Favoris</span>
        </a>
        <a class="button rose">
            <span>Mes tips</span>
        </a>
    </div>
    <div class="tip" *ngFor="let tip of tipsList">
        <img id="profil_img" src="../assets/mobile/tabbar-profil-image.jpg">

        <div class="content">
            <div style="margin-bottom: 10px;">
                {{tip.content}}
            </div>
            <div class="username">
                <b>{{tip.owner.firstname}}</b>
            </div>
        </div>
        <div class="like">
            <i class="material-icons like-icon" (click)="like(tip)">{{isLiked(tip) ? 'favorite' :
                'favorite_border'}}</i>
            {{tip.nbLikes}}
        </div>
    </div>
</div>