<div class="background"></div>
<div class="block">
    <img src="../../../assets/mobile/Embleme.svg" alt="logo" />
    <h3>Bienvenue</h3>
    <p>Améliorer votre orthographe avec notre communauté et nos orthophonistes</p>
    <a class="button filled" href="#" onclick="return false">
        <span>Se connecter</span>
        <i class="material-icons">arrow_right_alt</i>
    </a>
    <a class="button" href="#" onclick="return false">
        <span>Crée un compte</span>
        <i class="material-icons">arrow_right_alt</i>
    </a>
</div>
<p class="cgu">Consulter nos Conditions générales, notre politique de confitentialité et nos conditions de cookies.</p>
