<h5>Le jeu du moment !</h5>
<div class="block">
    <img src="../../assets/whist.jpg" alt="test">
	<div class="information">
		<h6>Le whist</h6>
		<p> Un des plus anciens jeux de cartes et l’on en fait mention en Angleterre dès 1529. En 1742, Edmond Hoyle publia Petit traité sur le jeu de whist (A Short Treatise on the Game of Whist) et établit par la suite les règles qui devaient régir ce jeu pendant plus d’un siècle. Le whist a encore évolué jusqu’à finalement donner naissance au bridge, dans la seconde moitié du XIXe siècle.</p>
		<a class="button rose" href="#" [routerLink]="['/jeux']">Jouer</a>
	</div>
</div>
<hr>
<div class="ligne">
    <img src="../../assets/wordblitz.jpeg" alt="test">
    <b>Maximots</b>
    <a class="button bg-rose" [routerLink]="['maximots']">Jouer</a>
</div>
<!-- <div class="ligne" *ngFor="let lecon of cours">
    <img src="data:image/bmp;base64,{{lecon.vignette}}" alt="test">
    <b>{{lecon.titre}}</b>
    <a class="button bg-rose" [routerLink]="['/cours/lecon', lecon.id]">Lire</a>
</div> -->