.cours-block{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
img{
    object-fit:cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.information{
    padding: 10px 5% 20px 5%;
}
.cours-ligne{
    display: grid;
    grid-template-columns: 25% 50% auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
}
.cours-ligne > img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}
.cours-ligne > .button{
    width: 50px;
    margin-top: 0;
}