<p>cours works!</p>
<a href="#" class="card horizontal" *ngFor="let onecours of cours">
    <div class="card-image">
        <img src="../../assets/RE2VOe0.jpeg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">{{onecours.titre}}</span>
            <p>{{onecours.description}}</p>
        </div>
        <div class="card-action">
            <p>This is a text</p>
        </div>
    </div>
</a>
<a href="#" class="card horizontal">
    <div class="card-image">
        <img src="../../assets/RE2VOe0.jpeg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">aze</span>
            <p>treyhjgfs</p>
        </div>
        <div class="card-action">
            <p>This is a text</p>
        </div>
    </div>
</a>
<a href="#" class="card horizontal">
    <div class="card-image">
        <img src="../../assets/RE2VOe0.jpeg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">aze</span>
            <p>treyhjgfs</p>
        </div>
        <div class="card-action">
            <p>This is a text</p>
        </div>
    </div>
</a>
<a href="#" class="card horizontal">
    <div class="card-image">
        <img src="../../assets/RE2VOe0.jpeg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <span class="card-title">aze</span>
            <p>treyhjgfs</p>
        </div>
        <div class="card-action">
            <p>This is a text</p>
        </div>
    </div>
</a>