<p>cours works!</p>
<h5>Le cours du moment !</h5>
<div class="cours-block">
    <img src="../../assets/RE2VOe0.jpeg" alt="test">
    <div class="information">
        <h6>Bien écrire "descendre"</h6>
        <p>lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsu<br>lorem ipsulorem ipsulorem ipsu</p>
        <a class="read-button" href="#" onclick="return false">
            Lire
        </a>
    </div>
</div>
<hr>
<div class="cours-ligne" *ngFor="let lecon of cours">
    <img src="data:image/bmp;base64,{{lecon.vignette}}" alt="test">
    <b>{{lecon.titre}}</b>
    <a class="read-button" routerLink="lecon">Lire</a>
</div>