<div class="background"></div>
<div class="main-container">
    <a href="#" onclick="return false;"><i class="material-icons">arrow_back</i>&nbsp;&nbsp;&nbsp;Retour</a>
    <div class="text">
        <h4>Vous êtes ?</h4>
        <p>Indiquez si vous êtes un utilisateur ou un orthophoniste.</p>
    </div>
    <div class="block">
        <img src="../../../assets/mobile/Social-girl.svg" alt="Social-girl">
        <p class="cgu">Création de votre compte en deux minutes, préparer votre boite mail !</p>
        <div class="action">
            <a class="button filled" href="#">
                <span>Je suis un utilisateur</span>
                <i class="material-icons">arrow_right_alt</i>
            </a>
            <a class="button" routerLink="/inscription">
                <span>Je suis un orthophoniste</span>
                <i class="material-icons">arrow_right_alt</i>
            </a>
        </div>
    </div>
</div>