<app-connexion *ngIf="!userService.isConnected()"></app-connexion>
<div *ngIf="userService.isConnected()">
    <div class="photo-profil">
        <img id="photo-profil"
            src="{{userService.loggedUser.profilePicture ? userService.loggedUser.profilePicture : '../assets/heidy/heidy_head_1.png'}}"
            alt="Photo de profil">
    </div>
    <div class="block infos">
        <p class="name rose" style="text-align: center; padding-bottom: 15px;">{{userService.loggedUser.firstname |
            uppercase}}
            {{userService.loggedUser.lastname | uppercase}}</p>
        <!-- BETA : Fonctionnalité non implémenté
            <div class="item">
            <div class="rose" style="display: inline-block;">
                <span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">show_chart</span>{{score}} points
            </div>
        </div>-->
        <div class="item" *ngIf="calculateAge()">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">cake</span>{{calculateAge() + ' ans' |
                uppercase}}
            </p>
        </div>
        <div class="item">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">mail</span>{{userService.loggedUser.email}}</p>
        </div>
        <!-- BETA : Fonctionnalité non implementé
            <div class="item">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">phone</span>{{userService.loggedUser.phone}}</p>
        </div>-->
        <!-- BETA : Récupération de l'adresse avec les coordonées non implémenté
            <div class="item">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">home</span>11 Rue des Potiers</p>
        </div> -->
        <div class="item" *ngIf="userService.loggedUser.city">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">place</span>{{userService.loggedUser.city |
                uppercase}}</p>
        </div>
        <!-- BETA : Fonctionnalité non implémenté
        <div class="item">
            <p class="rose" style="display: inline-block;"><span class="material-icons bleu"
                    style="display: inline-block; margin-right: 10px;">filter_tilt_shift</span>Dyslexique</p>
        </div>
        -->
        <!--<div>
            <input placeholder="Votre adresse email..." id="email" type="email" class="validate">
        </div> -->
    </div>
    <a class="button bg-rose large disabled-beta" routerLink="stats">Voir mes statistiques (à venir...)</a>
    <a class="button rose large disabled-beta">Programme personnalisé (à venir...)</a>
    <a class="button rose large disabled-beta">Modifier mon profil (à venir...)</a>
    <a class="button rose large" (click)="uploader.click()">Modifier ma photo de profil</a>
    <a class="button rose large" (click)="logout()">Déconnexion</a>
</div>

<input hidden type="file" #uploader (change)="editProfilePicture($event)" accept="image/*" />
