/* You can add global styles to this file, and also import other style files */
.sidenav.sidenav-fixed {
    margin-top: 64px;
    white-space: nowrap;
    transition: 0.5s;
    width: 85px;
}
.noBoxShadow {
    box-shadow: none !important;
}
hr{
    border: 1px solid #eeeeee;
    margin: 20px 0 20px 0;
}
html{
    font-family: 'Nunito';
}