/* You can add global styles to this file, and also import other style files */
.sidenav.sidenav-fixed {
    margin-top: 64px;
    white-space: nowrap;
    transition: 0.5s;
    width: 85px;
}
.noBoxShadow {
    box-shadow: none !important;
}
hr{
    border: 1px solid #eeeeee;
    margin: 20px 0 20px 0;
}
html{
    font-family: 'Nunito';
}
.filled{
    background-color: #92a3d1 !important;
    color: white !important;
}
.button{
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #92a3d1;
    background-color: white;
    color: #92a3d1;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.large {
    width: 100%;
}
.rose{
    color: #FF647C;
}
.bleu {
    color: #92a3d1;
}