/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
:root {
    --ion-font-family: 'Nunito';
}

ion-app {
    padding-top: env(safe-area-inset-top);
}
.navbar {
    padding-bottom: env(safe-area-inset-bottom);
}
.plus-selected {
    padding-bottom: env(safe-area-inset-bottom);
}
/*body {
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
  }*/