/* Version Mobile */

.information-block {
  padding: 10px 5% 20px 5%;
}
.filled {
  height: 40px;
}
img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
h6 {
  font-size: 22px;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.beta-container {
  background-color: #fff3cd;
  color: #7d6520;
  display: inline-flex;
  width: 100%;
  border-radius: 6px;
  padding: 5px;
  padding-left: 15px;
}
.beta-btn {
  background-color: #fff3cd;
  color: #7d6520;
  border-radius: 5px;
  margin-left: auto;
  font-size: 18px;
  border: none;
}
.beta-btn > ion-icon {
  margin-left: 5px;
  vertical-align: middle;
}

/* Version PC */

.container-actualite {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.container-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
}

.grid-games {
  width: 27rem;
  justify-self: center;
}

.grid-games:last-child {
  justify-self: end;
}

.grid-games:first-child {
  justify-self: start;
}

.grid-cours {
  width: 27rem;
  justify-self: center;
}

.grid-cours:last-child {
  justify-self: end;
}

.grid-cours:first-child {
  justify-self: start;
}

.grid-bibliotheque {
  width: 27rem;
  justify-self: center;
}

.grid-bibliotheque:last-child {
  justify-self: end;
}

.grid-bibliotheque:first-child {
  justify-self: start;
}

.disabled-beta img {
  height: 150px;
}
