<h5>LE JEU DU MOMENT</h5>
<div class="block">
	<img src="../../assets/whist.jpg" alt="test">
	<div class="information-block">
		<h6>Le whist</h6>
		<p> Un des plus anciens jeux de cartes et l’on en fait mention en Angleterre dès 1529. En 1742, Edmond Hoyle
			publia Petit traité sur le jeu de whist (A Short Treatise on the Game of Whist) et établit par la suite les
			règles qui devaient régir ce jeu pendant plus d’un siècle. Le whist a encore évolué jusqu’à finalement
			donner naissance au bridge, dans la seconde moitié du XIXe siècle.</p>
		<a class="button rose" href="#" [routerLink]="['/jeux']">Jouer</a>
	</div>
</div>
<a class="button bg-rose large" href="#" [routerLink]="['/jeux']">Accéder aux jeux</a>
<hr>
<h5>LE COURS DU MOMENT</h5>
<div class="block">
	<img *ngIf="lastLesson?.thumbnail" src="data:image/jpeg;base64,{{lastLesson?.thumbnail}}"
		alt="Image d'illustration">
	<div class="information-block">
		<h6>{{lastLesson?.title}}</h6>
		<p>
			{{lastLesson?.description}}
		</p>
		<a class="button rose" href="#" [routerLink]="['/cours/lecon/'+lastLesson?.id]">Lire</a>
	</div>
</div>
<a class="button bg-rose large" href="#" [routerLink]="['/cours']">
	Accéder aux cours
</a>