.information-block{
    padding: 10px 5% 20px 5%;
}
.filled{
    height: 40px;
}
img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
h6{
    font-size: 22px;
}
.description{
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
}