<h5>LE JEU DU MOMENT</h5>
<div class="block disabled-beta">
	<img src="../../assets/whist.jpg" alt="test">
	<div class="information-block">
		<h6>Maximots</h6>
		<p class="description"> Description du jeu</p>
		<a class="button rose disabled-beta" href="#" [routerLink]="['/jeux']" style="border-color: gray;">A venir</a>
	</div>
</div>
<a class="button bg-rose large" href="#" [routerLink]="['/jeux']">Accéder aux jeux</a>
<hr>
<h5>LE COURS DU MOMENT</h5>
<div class="block">
	<img *ngIf="lastLesson?.thumbnail" src="data:image/jpeg;base64,{{lastLesson?.thumbnail}}"
		alt="Image d'illustration">
	<div class="information-block">
		<h6>{{lastLesson?.title}}</h6>
		<p class="description">
			{{lastLesson?.description}}
		</p>
		<a class="button rose" href="#" [routerLink]="['/cours/lecon/'+lastLesson?.id]">Lire</a>
	</div>
</div>
<a class="button bg-rose large" href="#" [routerLink]="['/cours']">
	Accéder aux cours
</a>
<hr>
<h5>LE LIVRE DU MOMENT</h5>
<div class="block">
	<img *ngIf="lastBook?.thumbnail" src="data:image/jpeg;base64,{{lastBook?.thumbnail}}" alt="Image d'illustration">
	<div class="information-block">
		<h6>{{lastBook?.title}}</h6>
		<p class="description">
			{{lastBook?.description}}
		</p>
		<a class="button rose" href="#" [routerLink]="['/bibliotheque/article/'+lastBook?.id]">Lire</a>
	</div>
</div>
<a class="button bg-rose large" href="#" [routerLink]="['/bibliotheque']">
	Accéder aux livres
</a>