.article-block{
    /* margin-top: 30px; */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.information-block{
    padding: 10px 5% 20px 5%;
}
.play-button{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    /* background-color: #92a3d1; */
    border: 1px solid;
    border-color: #92a3d1;
    color: #92a3d1;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.access-button{
    height: 40px;
    border-radius: 5px;
    background-color: #92a3d1;
    color: white;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    color: #eeeeee;
    size: 1px;
}