.article-block{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 200px;
}
.information-block{
    padding: 10px 5% 20px 5%;
}
.filled{
    height: 40px;
}