<h5>LE JEU DU MOMENT</h5>
<div class="block">
	<img src="../../assets/RE2VOe0.jpeg" alt="test">
	<div class="information-block">
		<h6>TigerPlay</h6>
		<p>lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsu lorem ipsulorem ipsulorem ipsu</p>
		<a class="button rose" href="#" [routerLink]="['/jeux']">Jouer</a>
	</div>
</div>
<a class="button bg-rose" href="#" [routerLink]="['/jeux']">Accéder aux jeux</a>
<hr>
<h5>LE COURS DU MOMENT</h5>
<div class="block">
	<img width="100%" src="../../assets/RE2VOe0.jpeg" alt="test" style="border-radius: 10px 10px 0px 0px;">
	<div class="information-block">
		<h6>Orthographe</h6>
		<p>lorem ipsulorem ipsulorem ipsulorem ipsulorem ipsu lorem ipsulorem ipsulorem ipsu</p>
		<a class="button rose" href="#" [routerLink]="['/cours/lecon']">Lire</a>
	</div>
</div>
<a class="button bg-rose" href="#" [routerLink]="['/cours']">
    Accéder aux cours
</a>