<!-- Version Mobile -->
<div *ngIf="responsiveService.isMobile">
	<div class="row container-master" *ngIf="isConnected || isRouteAllowed(router.url)" (click)="untogglePlus()">
		<router-outlet></router-outlet>
	</div>
	<div class="navbar" id="footer">
		<a routerLink="accueil" routerLinkActive="selected"><i class="material-icons-round">home</i>Accueil</a>
		<a routerLink="cours" routerLinkActive="selected" style="margin-right: 10%"><i
				class="material-icons-round">school</i>Cours</a>

		<a routerLink="profil" class="profil" routerLinkActive="selected">
			<img *ngIf="userService.loggedUser" id="profil_img"
				src="{{userService.loggedUser.profilePicture ? userService.loggedUser.profilePicture : '../assets/heidy/heidy_head_1.png'}}"
				alt="Photo de profil" routerLinkActive="selected">
			<ion-icon *ngIf="!userService.loggedUser" name="log-in-outline" id="profil_icon"></ion-icon>
		</a>
		<a routerLink="conseil" routerLinkActive="selected"><i
				class="material-icons-round">supervisor_account</i>Conseils</a>
		<a class="btn-plus" (click)="togglePlus()"><i class="material-icons-round plus"
				[class.plus-active]="isPlusSelected">more_horiz</i>Plus</a>
		<div [className]="currentPlusClass" (click)="untogglePlus()">
			<div class="item-plus" style="bottom: 60px">
				<a routerLink="jeux" routerLinkActive="selected" class="button-plus" style="pointer-events: none;"><i
						class="material-icons-round icon-plus">videogame_asset</i>A
					venir</a>
			</div>
			<div class="item-plus" style="bottom: 130px">
				<a routerLink="ortophoniste" routerLinkActive="selected" class="button-plus"
					style="pointer-events: none;"><i class="material-icons-round icon-plus">work_outline</i>A
					venir</a>
			</div>
			<div class="item-plus" style="bottom: 200px">
				<a routerLink="bibliotheque" routerLinkActive="selected" class="button-plus"><i
						class="material-icons-round icon-plus">menu_book</i>Bibliothèque</a>
			</div>
		</div>
	</div>
</div>

<!-- Version PC -->
<div *ngIf="!responsiveService.isMobile">
	<header>
		<div class="navbar-fixed">
			<nav class="noBoxShadow">
				<div>
					<button id="toggleButton" (click)="expandedSidenav()" (clickOutside)="onClickedOutside($event)">
						<i class="material-icons" id="menuIcon">menu</i>
						<i class="material-icons" id="closeIcon">close</i>
					</button>
				</div>
				<div class="nav-wrapper nav">
					<span class="brand-logo center" [routerLink]="['/accueil']">DYSTRAITE</span>
				</div>
				<div class="beta-container">
					<h6>Version BETA</h6>
					<button class="beta-btn" [routerLink]="['/beta']">
						<span style="vertical-align: middle;">Plus d'infos</span>
						<ion-icon name="information-circle-outline"></ion-icon>
					</button>
				</div>
			</nav>
		</div>
	</header>

	<main>
		<ul class="sidenav sidenav-fixed" id="side-nav" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
			<li class="hoverLi"><a routerLink="accueil" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">home</i>Accueil</a></li>
			<li class="hoverLi"><a routerLink="jeux" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">videogame_asset</i>Jeux</a></li>
			<li class="hoverLi"><a routerLink="cours" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">school</i>Cours</a></li>
			<li class="hoverLi"><a routerLink="bibliotheque" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">menu_book</i>Bibliothèque</a></li>
			<li class="hoverLi"><a routerLink="conseil" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">supervisor_account</i>Conseils</a></li>

			<li class="hoverLi" *ngIf="userService.loggedUser"><a routerLink="profil" routerLinkActive="selected"
					class="hoverA" style="padding-left: 20px;"><img *ngIf="userService.loggedUser" id="profil_img_pc"
						src="{{userService.loggedUser.profilePicture ? userService.loggedUser.profilePicture : '../assets/heidy/heidy_head_1.png'}}"
						alt="Photo de profil" routerLinkActive="selected">
					Profil</a></li>
			<li class="hoverLi" *ngIf="!userService.loggedUser"><a routerLink="profil" routerLinkActive="selected"
					class="hoverA"><i class="material-icons">login</i>Connexion</a></li>
			<!--<li class="hoverLi"><a routerLink="ortophoniste" routerLinkActive="selected" class="hoverA"><i
						class="material-icons">work_outline</i>Orthophoniste</a></li> -->
		</ul>
		<div id="container-router-outlet" class="row container-main">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>