<!-- Version Mobile -->
<div *ngIf="responsiveService.isMobile">
	<div class="row container-master" *ngIf="isConnected || isRouteAllowed(router.url)">
		<router-outlet></router-outlet>
	</div>
	<div class="navbar">
		<a routerLink="accueil" routerLinkActive="selected"><i class="material-icons">home</i>Accueil</a>
		<a routerLink="cours" routerLinkActive="selected" style="margin-right: 10%"><i
				class="material-icons">school</i>Cours</a>

		<a routerLink="profil" class="profil" routerLinkActive="selected">
			<img *ngIf="userService.loggedUser" id="profil_img"
				src="{{userService.loggedUser.profilePicture ? userService.loggedUser.profilePicture : '../assets/heidy/heidy_head_1.png'}}"
				alt="Photo de profil" routerLinkActive="selected">
			<ion-icon *ngIf="!userService.loggedUser" name="log-in-outline" id="profil_icon"></ion-icon>
		</a>
		<a routerLink="bibliotheque" routerLinkActive="selected"><i class="material-icons">menu_book</i>Bibliothèque</a>
		<a class="btn-plus" (click)="togglePlus()" (clickOutside)="untogglePlus()"><i class="material-icons plus"
				[class.plus-active]="isPlusSelected">more_horiz</i>Plus</a>
		<div [className]="currentPlusClass">
			<div class="item-plus" style="bottom: 60px">
				<a routerLink="jeux" routerLinkActive="selected" class="button-plus" style="pointer-events: none;"><i
						class="material-icons icon-plus">videogame_asset</i>A
					venir</a>
			</div>
			<div class="item-plus" style="bottom: 130px">
				<a routerLink="ortophoniste" routerLinkActive="selected" class="button-plus"
					style="pointer-events: none;"><i class="material-icons icon-plus">work_outline</i>A
					venir</a>
			</div>
			<div class="item-plus" style="bottom: 200px">
				<a routerLink="conseil" routerLinkActive="selected" class="button-plus" style="pointer-events: none;"><i
						class="material-icons icon-plus">supervisor_account</i>A
					venir</a>
			</div>
		</div>
	</div>
</div>
<!-- Version PC -->
<div *ngIf="!responsiveService.isMobile">
	<header>
		<div class="navbar-fixed">
			<nav class="noBoxShadow">
				<div class="nav-wrapper">
					<span class="brand-logo center">Dystraite</span>
				</div>
			</nav>
		</div>
	</header>

	<main>
		<!--<ul class="sidenav sidenav-fixed" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
			<li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
			<li><a href="/jeux"><i class="material-icons">videogame_asset</i>Jeux</a></li>
			<li><a href="/cours"><i class="material-icons">school</i>Cours</a></li>
			<li><a href="/bibliotheque"><i class="material-icons">menu_book</i>Bibliothèque</a></li>
			<li><a href="/conseil"><i class="material-icons">supervisor_account</i>Conseils</a></li>
			<li><a href="/profil"><i class="material-icons">account_circle</i>Profil</a></li>
			<li><a href="/ortophoniste"><i class="material-icons">work_outline</i>Orthophoniste</a></li>
		</ul> -->
		<div class="row container-master" style="text-align: center;">
			<h5>La version pour ordinateur arrivera très prochainement. <br>Vous pouvez dès à présent utiliser la
				version
				BETA en
				vous connectant sur cette page avec votre smartphone.</h5>
			<br>
			<img src="../assets/mobile_image_beta.png"
				style="width: 503px; height: 553px; margin: auto; display: flex;">
			<!--<router-outlet></router-outlet> -->
		</div>
	</main>
</div>