<!-- Version Mobile -->
<ion-app>
	<div *ngIf="isMobile">
		<ion-content no-bounce scroll="true" has-bouncing="false" overflow-scroll=“true” style="height: 95vh;">
			<div class="row container-master" *ngIf="isConnected || isRouteAllowed(router.url)">
				<router-outlet></router-outlet>
			</div>
		</ion-content>
		<ion-footer style="height: 10vh;" [hidden]="isKeyboardUp">
			<div class="navbar">
				<a routerLink="accueil" routerLinkActive="selected"><i class="material-icons">home</i>Accueil</a>
				<a routerLink="jeux" routerLinkActive="selected" style="margin-right: 10%"><i
						class="material-icons">videogame_asset</i>Jeux</a>

				<a routerLink="profil" class="profil" routerLinkActive="selected">
					<img id="profil_img" src="../assets/mobile/tabbar-profil-image.jpg" routerLinkActive="selected">
				</a>
				<a routerLink="ortophoniste" routerLinkActive="selected"><i
						class="material-icons">work_outline</i>Orthophoniste</a>
				<a class="btn-plus" (click)="togglePlus()" (clickOutside)="untogglePlus()"><i
						class="material-icons plus" [class.plus-active]="isPlusSelected">more_horiz</i>Plus</a>
				<div [className]="currentPlusClass">
					<div class="item-plus" style="bottom: 60px">
						<a routerLink="cours" routerLinkActive="selected" class="button-plus"><i
								class="material-icons icon-plus">school</i>Cours</a>
					</div>
					<div class="item-plus" style="bottom: 130px">
						<a routerLink="bibliotheque" routerLinkActive="selected" class="button-plus"><i
								class="material-icons icon-plus">menu_book</i>Bibliothèque</a>
					</div>
					<div class="item-plus" style="bottom: 200px">
						<a routerLink="conseil" routerLinkActive="selected" class="button-plus"><i
								class="material-icons icon-plus">supervisor_account</i>Conseils</a>
					</div>
				</div>
			</div>
		</ion-footer>
	</div>
</ion-app>
<!-- Version PC -->
<div *ngIf="!isMobile">
	<header>
		<div class="navbar-fixed">
			<nav class="noBoxShadow">
				<div class="nav-wrapper">
					<span class="brand-logo center">{{titre_page}}</span>
				</div>
			</nav>
		</div>
	</header>

	<main>
		<ul class="sidenav sidenav-fixed" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
			<li><a href="/"><i class="material-icons">home</i>Accueil</a></li>
			<li><a href="/jeux"><i class="material-icons">videogame_asset</i>Jeux</a></li>
			<li><a href="/cours"><i class="material-icons">school</i>Cours</a></li>
			<li><a href="/bibliotheque"><i class="material-icons">menu_book</i>Bibliothèque</a></li>
			<li><a href="/conseil"><i class="material-icons">supervisor_account</i>Conseils</a></li>
			<li><a href="/profil"><i class="material-icons">account_circle</i>Profil</a></li>
			<li><a href="/ortophoniste"><i class="material-icons">work_outline</i>Orthophoniste</a></li>
		</ul>
		<div class="row container-master">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>