/* Version Mobile */

.background {
  background-color: #ff647c;
  margin: -30px;
  height: 25vh;
  z-index: 5;
}
.background > .text {
  color: white;
  width: 80%;
  margin: auto;
  padding-top: 10%;
}
.background > .text > h4 {
  font-weight: bold;
}
.main-container {
  z-index: 10;
  position: relative;
}
.main-container > a {
  font-size: 20px;
  color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: left;
}
.main-container > .full-page {
  height: auto;
}
.main-container > .block {
  padding: 5%;
  z-index: 10;
  margin-top: 5%;
}
.main-container > .input > .block {
  padding: 5%;
  z-index: 10;
  margin-top: 10%;
}
.align-left {
  text-align: left;
  padding: 15px;
}
.main-container > .block > img {
  object-fit: contain;
  height: 20%;
}
.main-container > .block > p {
  margin-bottom: 50%;
}
.main-container > .block > .action {
  position: absolute;
  width: 90%;
  bottom: 180px;
}
.button {
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: 68% 28%;
  grid-column-gap: 10px;
  margin-top: 5%;
  width: 100%;
  cursor: pointer;
}
.action > a > span {
  justify-self: start;
}
.action > a > i {
  justify-self: end;
}
h4 {
  font-size: 2.08rem;
}

/* Version PC */

.background-pc {
  background-color: #ee6e73;
  margin: -30px -29px 0 -30px;
  height: 200px;
  z-index: 5;
}
.background-pc > .text {
  color: white;
  max-width: 50rem;
  margin: auto;
  padding-top: 50px;
}
.background-pc > .text > h4 {
  font-weight: bold;
}
.main-container-pc {
  z-index: 10;
  position: relative;
}
.main-container-pc > a {
  font-size: 20px;
  color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: left;
}
.main-container-pc > .full-page {
  max-width: 50rem;
  height: auto;
  margin: auto;
  margin-top: -30px;
}
.main-container-pc > .block {
  padding: 5%;
  z-index: 10;
}
.main-container-pc > .input > .block {
  padding: 5%;
  z-index: 10;
  margin-top: 10%;
}
.main-container-pc > .block > img {
  object-fit: contain;
  height: 20%;
}
.main-container-pc > .block > p {
  margin-bottom: 50%;
}
.main-container-pc > .block > .action {
  position: absolute;
  width: 90%;
  bottom: 180px;
}
