<div class="background">
  <div class="text">
    <h4>Mot de passe oublié ?</h4>
    <p>On va réparer ça</p>
  </div>
</div>
<div class="main-container">
  <div class="block full-page">
    <img src="../../../assets/mobile/Social-girl.svg" alt="Social-girl">
    <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
      <div class="block align-left">
        <label for="email">Adresse email*</label>
        <input placeholder="Entrez votre adresse email..." name="email" type="email" class="validate" ngModel>
      </div>
      <button class="button bg-rose large" type="submit" value="Send" [disabled]="isLoading">
        <div class="lds-ellipsis" style="display: none;">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span>Confirmez votre email</span>
        <i class="material-icons">arrow_forward</i>
      </button>
    </form>
  </div>
</div>
