<h5>Le cours du moment !</h5>
<div class="block">
    <img *ngIf="currentLesson?.thumbnail" src="data:image/jpeg;base64,{{currentLesson?.thumbnail}}"
        alt="Image d'illustration">
    <div class="information">
        <h6>{{currentLesson?.title}}</h6>
        <p>
            {{currentLesson?.description}}
        </p>
        <a class="button bg-rose" [routerLink]="['/cours/lecon/', currentLesson?.id]">Lire</a>
    </div>
</div>
<hr>
<div class="ligne" *ngFor="let lesson of lessons">
    <img src="data:image/bmp;base64,{{lesson.thumbnail}}" alt="test">
    <b>{{lesson.title}}</b>
    <a class="button bg-rose" [routerLink]="['/cours/lecon/', lesson.id]">Lire</a>
</div>