/* You can add global styles to this file, and also import other style files */


.sidenav.sidenav-fixed {
    margin-top: 64px;
    white-space: nowrap;
    transition: 0.5s;
    width: 85px;
}
.noBoxShadow {
    box-shadow: none !important;
}
hr{
    border: 1px solid #eeeeee;
    margin: 20px 0 20px 0;
}
html{
    font-family: 'Nunito';
}
.filled{
    /* background-color: #92a3d1 !important;
    color: white !important; */
}
.button{
    height: 30px;
    border-radius: 6px;
    border: 1px solid;
    /* border-color: #92a3d1;
    background-color: white;
    color: #92a3d1; */
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
hr.solid {
  opacity: 15%;
  border-top: 1px solid #000;
}

.large {
    height: 40px;
    width: 100%;
    font-size: 15px;
}
img{
    object-fit:cover;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.block{
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}
#toast-container {
    min-width: 0px;
}
.ligne{
    display: grid;
    grid-template-columns: 25% 45% auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-items: center;
}
.ligne > img{
    width: 75px;
    height: 75px;
    border-radius: 10px;
}
.ligne > .button{
    width: 50px;
    margin-top: 0;
}
.bg-rose{
    /*background-color: #FF647C;
    border-color: #FF647C; */
    color: white;
    background: linear-gradient(to right bottom, #fb6d83, #da3e5b);
}
a.bg-rose:active, button.bg-rose:active{
  color: #FF647C;
  background: white;
}
.rose{
  color: #FF647C;
}

a.rose:active, button.rose:active{
  color: white;
  background: linear-gradient(to right bottom, #fb6d83, #da3e5b);
}
.bg-vert{
  background-color: #79cb7f;
  border-color: #79cb7f;
}
.vert{
    color: #79cb7f;
}
.bg-jaune{
  background-color: #ffcf5c;
  border-color: #ffcf5c;
}
.jaune{
    color: #ffcf5c;
}
.bg-bleu{
  background-color: #92a3d0;
  border-color: #92a3d0;
}
.bleu{
    color: #92a3d0;
}
input {
	border-bottom: none !important;
  box-shadow: 0px 0px 20px transparent !important;
}
p {
    text-align: justify;
}
h6 {
  font-size: 24px;
}
h5 {
  font-size: 27px;
}
h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 700;
}
.form-error {
  color: red;
}
.disabled-beta {
    pointer-events: none;
    color: grey;
    background-color: lightgray;
    border-color: lightgray;
    background: lightgray;
    font-weight: 300;
}

.loading > span {
  display: none;
}
.loading > i {
  display: none;
}
.loading {
  display: block !important;
}
button:disabled{
  opacity: 50%;
}

/* Loading for buttons */ 
.loading .lds-ellipsis {
    display: inline-block !important;
    position: relative;
    width: 80px;
    height: 100%;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 35%;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  [type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #FF647C;
    background-color: #FF647C;
  }

.information{
    padding: 10px 5% 20px 5%;
}