.background{
    background-color: #FF647C;
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.main-container{
    z-index: 10;
    position: fixed;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
    top: 8%;
    text-align: center;
    color: black;
    height: 100%;
}
.main-container > a{
    font-size: 20px;
    color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: left;
}
.main-container > .text{
    color: white;
}
.main-container > .text > h4{
    font-weight: bold;
}
.main-container > .full-page{
    height: 100%;
}
.main-container > .block{
    padding: 5%;
    z-index: 10;
    margin-top: 5%;
}
.main-container > .align-left{
    text-align: left;
}
.main-container > .block > img{
    object-fit: contain;
    height: 20%;
}
.main-container > .block > p{
    margin-bottom: 50%;
}
.main-container > .block > .action {
    position: absolute;
    width: 90%;
    bottom: 180px;
}
.button{
    height: 40px;
    padding: 10px;
    display: grid;
    grid-template-columns: 68% 28%;
    grid-column-gap: 10px;
    margin-top: 5%;
    width: 100%;
}
.main-container > .block > .action > .button > span{
    justify-self: start;
}
.main-container > .block > .action > .button > i{
    justify-self: end;
}