<h6>Informations a propos de la <b>BETA</b></h6>
<p>
    Vous utilisez une version BETA de l'application Dystraite. Cette version a pour but d'obtenir des retours concernant
    l'expérience utilisateur et de corriger les bugs.
    <br>
    Certaines fonctionnalités ne sont pas encore disponibles. Elles apparaitront prochainement. Des bugs sont
    susceptibles d'affecter votre expérience utilisateur. Si c'est le cas, merci de nous le faire savoir afin que nous
    puissions les corriger.
    <br>
</p>
<hr class="solid">
<p>
    Si vous voulez nous signaler un bug ou nous faire un retour pour nous soumettre une idée, vous pouvez nous contacter
    à l'adresse suivante : <a href="mailto:dystraite.fr@gmail.com">dystraite.fr@gmail.com</a>
</p>
