/* Version Mobile */

.container-maintenance-mobile {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-maintenance-mobile img {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Version PC */

.container-maintenance {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-maintenance img {
  width: 35rem;
  height: 22rem;
}
